@import './../../variables';

.wrapper_export_content{
  position: relative;
  margin-top: 200px;

  &:after{
    content: '';
    background-image: url(./../../../images/leaf.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 420px;
    right: 49%;
    height: 315px;
    display: inline-block;
    z-index: -1;
    bottom: -230px;
  }

  &:before{
    content: '';
    background-image: url(./../../../images/export_leaf.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 420px;
    right: 30%;
    height: 315px;
    display: inline-block;
    z-index: -1;
    bottom: -290px;
  }
  .bg_line{
    &:before{
      content: '';
      background-color: #E8F1EC;
      position: absolute;
      width: 100%;
      right: 0;
      height: 305px;
      display: inline-block;
      top: 100px;
    }
  }
  hr {
    margin-top: 20px;
  }
  .export_image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 164%;
    height: 490px;
    position: absolute;
    right: -10%;
    top: -10%;
  }
  .export_text_wpapper{
    background-color: $white;
    padding: 45px 60px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
    max-width: 575px;
    bottom: -160px;
    text-align: right;
    .export_image{
      display: none;
    }
  }
}
.title_line{
  display: none;
}
@media (max-width: 576px) {
  .wrapper_export_content {
    margin-top: 100px;
    &:before, &:after{
      content: none;
    }
    .bg_line{
      &:before{
        top: 30%;
      }
    }
    .export_image{
      right: 0;
      width: 80%;
      display: none;
    }
    .export_text_wpapper{
      padding: 0;
      box-shadow: none;
      bottom: -25px;
      background-color: transparent;
      .export_image{
        background-size: cover;
        width: 100%;
        height: 240px;
        position: static;
        display: block;
        margin-bottom: 25px;

      }
    }
  }

  .title_line{
    display: block;
  }
  .center-block{
    text-align: center;
  }
}