.wrapper_aboutus_content{
  .bg_image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    width: 120%;
    height: 490px;
  }
}

.wrapper_title{
  text-align: center;
}
.home_about_us_text{
  .about_us_text {
    max-width: 485px;
  }
}
.wrapper_aboutus_content {
  margin-top: 150px;
  margin-bottom: 150px;
  position: relative;
  &:before{
    content: '';
    background-color: #E8F1EC;
    position: absolute;
    width: 100%;
    right: 0;
    height: 305px;
    display: inline-block;
    top: 20%;
  }
  &:after{
    content: '';
    background-image: url(./../../../images/leaf.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 420px;
    right: 49%;
    height: 315px;
    display: inline-block;
    z-index: -1;
    bottom: -230px;
  }
}
.wrapper_right_info{
  box-shadow: 0 0 30px #E6E7E8;
  background-color: white;
  padding: 45px;
  position: relative;
  top: 70px;
  .home_about_us_text{
    z-index: 10;
    position: relative;
    &:last-child{
      text-align: right;
    }
    .small_button{
      text-align: right;
    }
  }
}
.bottom_content{
  align-items: flex-end;
}