.wrapper_aboutus_content{
  .bg_image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    width: 120%;
    height: 490px;
  }
}

.wrapper_title{
  text-align: center;
}
.home_about_us_text{
  .about_us_text {
    max-width: 485px;
  }
}
.wrapper_aboutus_content {
  margin-top: 150px;
  margin-bottom: 150px;
  position: relative;
  &:before{
    content: '';
    background-color: #E8F1EC;
    position: absolute;
    width: 100%;
    right: 0;
    height: 305px;
    display: inline-block;
    top: 20%;
  }
  &:after{
    content: '';
    background-image: url(./../../../images/leaf.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 420px;
    right: 49%;
    height: 315px;
    display: inline-block;
    z-index: -1;
    bottom: -230px;
  }
}
.wrapper_right_info{
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 45px;
  position: relative;
  top: 70px;
  .home_about_us_text{
    z-index: 10;
    position: relative;
    &:last-child{
      text-align: right;
    }
    .small_button{
      text-align: right;
    }
  }
}
.bottom_content{
  align-items: flex-end;
}

.wrapper_about_image.small_img{
  display: none;
}
@media (max-width: 576px) {
  .wrapper_about_image.big_img{
    display: none;
  }
  .wrapper_about_image.small_img{
    display: block;
    margin-bottom: 25px;
  }
  .wrapper_aboutus_content {
    &:before{
      top: 42%;
      height: 225px;
    }
    &:after{
      width: 150px;
      height: 150px;
      background-image: url(./../../../images/about_mobile_leaf.png);
      bottom: -160px;
      right: 65%;
    }
    .bg_image{
      width: 100%;
      height: 240px;
      background-size: cover;
    }
  }
  .wrapper_right_info{
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
}