@import './../../variables';

.wrapper_our_services_content {
  margin-bottom: 90px;
  margin-top: 200px;
  position: relative;
  &:before{
    content: '';
    background-image: url(./../../../images/leaf_left.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    position: absolute;
    width: 480px;
    left: 20px;
    height: 460px;
    display: inline-block;
    bottom: -20%;
  }
  hr{
    margin-top: 27px;
  }
  .services_item {
    background-color: $white;
    padding: 35px 20px 50px 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    height: 200px;
    display: flex;
    .icon{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 60px;
      height: 60px;
      display: inline-block;
      margin-right: 19px;
    }
    .services_text{
      .services_title{
        font-size: 20px;
        max-width:310px;
        color: $galliano;
      }
      p{
        max-width: 320px;
      }
    }
  }
  .move_block{
    position: relative;
    .second{
      position: absolute;
      top: 20%;
    }
    .third{

    }
    .first{
      position: relative;
      top: -90px;
      .services_item{
        position: absolute;
        top: 60%;
      }
    }
  }
}
@media (max-width: 576px) {
  .wrapper_our_services_content{
    margin-top: 160px;
    margin-bottom: 30px;
    &:before{
      width: 200px;
      height: 200px;
      background-image: url(./../../../images/our_services_mobile.png);
      left: auto;
      right: 0;
      bottom: -4%;
    }
    .move_block {
      .second{
        position: static;
      }
      .first {
        .services_item{
          position: static;
        }
      }
    }
    .services_item{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 390px;
      text-align: center;
      .icon{
        width: 100px;
        height: 100px;
      }
    }
  }
  .mobile_hide{
    display: none;
  }
  .wrapper_about_image {
    text-align: center;
    hr{
      margin-top: 7px;
      margin-bottom: 25px;
    }
  }
  .services_text {
    max-width: 280px;
  }
}