$vistaBlue: #546D5E;
$lilyWhite: #E8F1EC;
$dimGray: #747474;
$darkGray: #AEAEAE;
$galliano: #D1AD1F;
$white: #FFFFFF;

$playfair:"Playfair Display";
$openSans: "Open Sans";
h1,h2,h3,h4 {
  font-family: $playfair;
  color: $dimGray;
}
h3{
  line-height: 27px;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 32px;
}
h3{
  color: $galliano;
  font-size: 20px;
}
h4{
  font-size: 16px;
}
h5{
  font-family: $playfair;
  font-size: 16px;
  color: $galliano;
}
p{
  font-family: $openSans;
  font-weight: 100;
  color: $dimGray;
  font-size: 13px;
  line-height: 27px;
  text-align: left;
}
hr{
  margin-top: 10px;
  border: 1px solid $galliano;
  width: 71px;
  display: inline-block;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
strong{
  font-size: 16px;
  font-family: "Open Sans";
  color: $dimGray;
}
body{
  overflow-x: hidden;
}
a:hover{
  text-decoration: none;
}
.content{
  margin-left: 65px;
}
.main_title{
  font-size: 40px;
  color: $dimGray;
}
.email{
  font-size: 16px;
  font-family: $openSans;
  color: $dimGray;
}
.btn_wrapper {
  text-align: center;
  margin-top: 30px;
}
.big_button{
  font-size: 16px;
  font-family: $playfair;
  border: 1px solid $galliano;
  padding: 15px 65px;
  color:$galliano;
}
.wrapper_title{
  text-align: center;
  margin: 0 auto;
}
.small_button{
  color: $galliano;
  font-size: 15px;
  line-height: 27px;
  font-family: $playfair;
  &:after{
    content: '';
    background-image: url(./../images/arrow.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 8px;
    margin-left: 10px;
    display: inline-block;
  }
}
.aling-center{
  display: flex;
  align-items: center;
}
blockquote{
  font-family: "Open Sans";
  font-style: italic;
  font-size: 18px;
  max-width: 576px;
  margin: 75px auto 50px auto;
  position: relative;
  &:before{
    content: '';
    background-image: url(./../images/quotation-mark.png);
    background-repeat: no-repeat;
    width: 42px;
    height: 39px;
    margin-left: 10px;
    display: inline-block;
    position: absolute;
    left: -75px;
    top: -20px;
  }
}
@media (max-width: 576px) {
  h1{
    font-size: 32px;
  }
  .hidden-xs{
    display: none;
  }
  .main_title{
    font-size: 32px;
  }
  p{
    font-size: 15px;
  }
  .content {
    margin-left: 0;
  }
  .container{
    padding-right: 20px;
    padding-left: 20px;
  }
}